
* {
  font-feature-settings: 'pnum' 1, 'kern' 1, 'liga' 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
}


#title-text {
  font-size: 2.125em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .confluence-information-macro, ul, ol, blockquote, q, p, .embeddedObject {
  box-sizing: border-box;
  max-width: 850px;
}

.wiki-content ul li,
.wiki-content ol li {
  padding-top: .25em;
}

.wiki-content ul li:first-child,
.wiki-content ol li:first-child {
  padding-top: 0em;
}

.wiki-content ul li ul li:first-child,
.wiki-content ol li ul li:first-child,
.wiki-content ul li ol li:first-child,
.wiki-content ol li ol li:first-child {
  padding-top: .25em;
}

h1#title-text,
.jvm-fullimage p,
ul#poweredby {
  max-width: none;
}

.jvm-summary {
  font-size: 1.3em;
  font-weight: 300;
  max-width: 45em;
  color: #555;
}

.jvm-long-summary {
  padding-left: 1rem;
  border-left: 2px solid #ccc;
  margin: 2rem 0;
}

.jvm-big-table-number, .jvm-big-table-number.output-inline,
h2 > strong > u, h2 > u > strong {
  align-items: center;
  background: #f4f3f5;
  border-radius: 20px;
  display: inline-flex;
  font-size: 22px;
  font-weight: 300;
  height: 40px;
  justify-content: center;
  letter-spacing: -0.75px;
  line-height: 20px;
  text-decoration: none;
  width: 40px;
}

h2 > u {
  text-decoration: none;
}

h2 > strong > u, h2 > u > strong {
  margin-right: 10px;
}

.jvm-ux-research-title {
  font-size: 16px;
  font-weight: 500;
  padding-top: 1px;
}

.jvm-ux-research-date {
  font-size: 12px;
}

.jvm-button-container,
.jvm-button-container--secondary {
  margin: 10px 0;
}

.wiki-content td .jvm-button-container,
.wiki-content td .jvm-button-container--secondary {
  margin: 0;
}

.wiki-content .jvm-button-container a,
.wiki-content .jvm-button-container--secondary a {
  box-sizing: border-box;
  background: #532c6c;
  border: 1px solid #532c6c;
  border-radius: 3px;
  color: #fefefe;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-variant: normal;
  font-weight: 500;
  line-height: 1.42857143;
  margin: 0;
  padding: 4px 10px;
  text-align: right;
  text-decoration: none;
  transition: background .15s, color .15s;
  vertical-align: baseline;
  white-space: nowrap;
}


.wiki-content .jvm-button-container--secondary a {
  background: #f7f7f7;
  border-color: transparent;
  color: #111;
  font-weight: 400;
}

.wiki-content .jvm-button-container a:hover,
.wiki-content .jvm-button-container a:focus,
.wiki-content .jvm-button-container--secondary a:hover,
.wiki-content .jvm-button-container--secondary a:focus {
  background: #8658a3;
  color: #fefefe;
}

.wiki-content .jvm-button-container a:active,
.wiki-content .jvm-button-container--secondary a:active {
  background: #3a1d4c;
  transition: all 0s;
}



.confluence-information-macro, .confluence-information-macro-information {
  background-color: #fefefe;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-weight: 500;
}

.confluence-information-macro>.title {
  font-weight: 800; 
}


pre, samp, code, .syntaxhighlighter, .syntaxhighlighter * {
  background: #f5f4f6;
  border-radius: 3px;
  font-family: 'SF Mono', 'Monaco', 'Consolas', monospace !important;
  font-size: 90%;
  margin: 0 1px;
}

code {
  padding: 0 2px;
}

blockquote {
  border-left: 2px solid #ccc;
  color: #707070;
  font-size: 1.2em;
  margin: 20px 0 20px 8px;
  padding: 0px 20px;
}

.wiki-content h2, .wiki-content h3, .wiki-content h4, .wiki-content h5, .wiki-content h6 {
  font-weight: 600;
}

.wiki-content h2 {
  margin: 50px 0 0 0; 
}

.wiki-content h4 {
  font-size: 14px;
  font-weight: 800;
  margin: 25px 0 0 0;
}

table.confluenceTable {
  max-width: 1150px;
}

table.confluenceTable th.confluenceTh, table.confluenceTable th.confluenceTh>p, .confluenceTh {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  vertical-align: bottom;
  background-color: #fcfcfc;
}

table.confluenceTable td.confluenceTd, table.confluenceTable td.confluenceTd>p, .confluenceTd {
  border-left: none !important;
  border-right: none !important;
}

.wiki-content table.tablesorter>thead>tr>th {
  background-color: #fcfcfc !important;
}

thead.tableFloatingHeaderOriginal {
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.expand-container {
  margin: 10px 0 0 0;
}

.expand-container .expand-control-icon.icon {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 2px;
}

.expand-container .expand-control-icon.icon.expanded {
  border-color: #ccc;
  background-color: #fafafa;
}

.expand-container .expand-content {
  box-shadow: 0 0 0 1px #dfdfdf;
  padding: 1em;
  border-radius: 2px;
}

.jvm-relatedtext {
  font-size: .75rem;
  padding-top: .5rem;
}

.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-warning,
.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-info,
.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-error,
.confluence-information-macro .confluence-information-macro-icon.aui-iconfont-approve {
  color: currentColor;
}

div.toc-macro {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  line-height: 120%;
  max-width: 250px;
  padding: 16px;
}

div.toc-macro ul {
  font-weight: 600;
  list-style: none;
  padding-left: 0;
}

div.toc-macro ul li {
  padding-top: 8px;
}

div.toc-macro ul li.toc-empty-item {
  display: none;
}

div.toc-macro ul ul {
  font-weight: 400;
  font-size: .875em;
  padding-top: 0;
  padding-left: 2em;
}

div.toc-macro ul ul li {
  padding-top: 5px;
}


.tableFilterCbStyle {
  display: none;
}

/* Copying from Google Drive sometimes includes nasty span stuff */
span[style*="color: rgb(0,0,0)"] {
  color: inherit !important;
}

#main #content {
  padding-right: 0;
}

#main-content .table-wrap {
  margin-left: -10px;
  margin-right: -10px;
}

.jvm-colorchip-dark {
  color: #111012;
}

.jvm-colorchip-light {
  color: #fefefe;
}

.jvm-colorchip-dark,
.jvm-colorchip-light {
  box-sizing: border-box;
  display: inline-block;
  height: 120px;
  font-size: 10px;
  line-height: 10px;
  padding: 100px 10px 10px;
  position: relative;
  text-align: right;
  width: 120px;
}

.jvm-colorchip-dark::before,
.jvm-colorchip-light::before {
  content:attr(title);
  left: 10px;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 10px;
}


.jvm-colorchip-dark p,
.jvm-colorchip-light p {
  margin: 0;
  padding: 0;
}

span[style*="color: rgb(255,0,0)"] {
  color: #e03135 !important;
}

span[style*="color: rgb(192,192,192)"] {
  color: #aaa9ab !important;
}

.wiki-content .confluence-embedded-file-wrapper .confluence-embedded-image[height],
.wiki-content .confluence-embedded-file-wrapper .confluence-embedded-image[width] {
  max-width: 100%;
}

/* If a cell is aligned right, it probably means it has tabular data.
   Force typefaces to use tabular lining figures so numbers line up. */
.confluenceTd[style*="text-align: right"],
.confluenceTd[style*="text-align: right"] * {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

.wiki-content table.tablesorter>thead>tr>th {
  padding-right: 10px;
}

.wiki-content table.tablesorter>thead>tr>th {
  background: #f0f0f0 center right -3px no-repeat;
}

td.gallery-image, td.gallery-image img, .gallery td {
  height: auto !important;
  width: 100px !important;
}

.handy-header {
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s, visibility 0s .15s;
}

h1:hover .handy-header,
h2:hover .handy-header,
h3:hover .handy-header,
h4:hover .handy-header,
h5:hover .handy-header,
h6:hover .handy-header {
  opacity: .2;
  visibility: visible;
  transition: opacity .15s, visibility 0s 0s;
}

.handy-header:hover {
  opacity: .75;
}

.tfac-macro-inserter {
  border: 0; !important;
  padding: 0; !important;
  opacity: .5;
  width:22px;
  overflow:hidden;
}

.status-macro {
  min-width: 0;
}

.wiki-content .aui-lozenge {
  background: #efeef0;
  border: 0;
  color: #757476;
  font-size: 12px;
  font-weight: 800;
  line-height: 12px;
  padding: 4px 8px;
  text-transform: lowercase;
  white-space: pre;
}

.wiki-content .aui-lozenge.aui-lozenge-error {
  background: #b1090d;
  color: #fefefe;
}

.wiki-content .aui-lozenge.aui-lozenge-moved {
  background-color: #faa827;
  color: #111012;
}

.wiki-content .aui-lozenge.aui-lozenge-success {
  background-color: #54bc80;
  color: #111012;
}

.wiki-content .aui-lozenge-complete,
.wiki-content .aui-lozenge-complete.aui-lozenge-subtle,
#property-panel a.macro-property-panel-Blue span.icon.aui-lozenge-subtle,
.wiki-content .aui-lozenge.aui-lozenge-current {
  background: #e5d0f2;
  background-color: #e5d0f2;
  color: #111012;
}

.wiki-content .aui-lozenge::first-letter {
  text-transform: uppercase;
}

.pdl .syntaxhighlighter a, .pdl .syntaxhighlighter div, .pdl .syntaxhighlighter code, .pdl .syntaxhighlighter table, .pdl .syntaxhighlighter table td, .pdl .syntaxhighlighter table tr, .pdl .syntaxhighlighter table tbody, .pdl .syntaxhighlighter table thead, .pdl .syntaxhighlighter table caption, .pdl .syntaxhighlighter textarea {
  font-size: inherit;
  line-height: 150%;
}

.pdl .codeContent .syntaxhighlighter>table td:first-child {
  padding-left: 8px;
}

.pdl .syntaxhighlighter table td.code .container {
  margin-top: 8px;
  padding-bottom: 8px;
}

div.panel.pdl {
  border-width: 0px !important;
}

.syntaxhighlighter.sh-confluence {
  background-color: #f5f4f6 !important;
}


/* Name badge */
.wiki-content a.user-mention {
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  line-height: 1.42857142857143;
}

.wiki-content a.user-mention,
.wiki-content a.user-mention:link,
.wiki-content a.user-mention:hover,
.wiki-content a.user-mention:active,
.wiki-content a.user-mention:visited {
  background: transparent;
}

.wiki-content a.user-mention.current-user-mention,
.wiki-content a.user-mention.current-user-mention:link,
.wiki-content a.user-mention.current-user-mention:hover,
.wiki-content a.user-mention.current-user-mention:active,
.wiki-content a.user-mention.current-user-mention:visited {
  background: transparent;
  color: #3572b0;
}

.wiki-content a.user-mention:before, .wiki-content a.user-mention:hover:before, .wiki-content a.user-mention:active:before, .wiki-content a.user-mention:visited:before {
  background-color: #cccdcb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath fill='%23323133' d='M5.926 4.9c-.567 0-.904.45-.904 1.206 0 .752.342 1.207.899 1.207.576 0 .942-.464.942-1.207 0-.742-.361-1.206-.937-1.206zM6.092 2c2.329 0 3.93 1.475 3.93 3.618 0 1.568-.727 2.554-1.89 2.554-.595 0-1.04-.313-1.127-.786h-.088c-.205.498-.62.761-1.187.761-1.015 0-1.694-.83-1.694-2.065 0-1.186.679-2.007 1.665-2.007.518 0 .947.259 1.138.694h.088v-.591h.893v2.69c0 .347.181.547.498.547.542 0 .884-.684.884-1.748 0-1.768-1.264-2.94-3.154-2.94-1.895 0-3.228 1.392-3.228 3.375 0 2.021 1.324 3.305 3.404 3.305.576 0 1.157-.078 1.44-.19v.732a5.372 5.372 0 0 1-1.49.196C3.642 10.145 2 8.543 2 6.077 2 3.66 3.665 2 6.092 2z'/%3E%3C/svg%3E");
  background-size: contain;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 12px;
  line-height: 12px;
  margin: 0 3px -1px 0;
  text-decoration: none;
  width: 12px;
}

.wiki-content a.user-mention.current-user-mention:before, .wiki-content a.user-mention.current-user-mention:hover:before, .wiki-content a.user-mention.current-user-mention:active:before, .wiki-content a.user-mention.current-user-mention:visited:before {
  background-color: #3b73af;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath fill='%23fefefe' d='M5.926 4.9c-.567 0-.904.45-.904 1.206 0 .752.342 1.207.899 1.207.576 0 .942-.464.942-1.207 0-.742-.361-1.206-.937-1.206zM6.092 2c2.329 0 3.93 1.475 3.93 3.618 0 1.568-.727 2.554-1.89 2.554-.595 0-1.04-.313-1.127-.786h-.088c-.205.498-.62.761-1.187.761-1.015 0-1.694-.83-1.694-2.065 0-1.186.679-2.007 1.665-2.007.518 0 .947.259 1.138.694h.088v-.591h.893v2.69c0 .347.181.547.498.547.542 0 .884-.684.884-1.748 0-1.768-1.264-2.94-3.154-2.94-1.895 0-3.228 1.392-3.228 3.375 0 2.021 1.324 3.305 3.404 3.305.576 0 1.157-.078 1.44-.19v.732a5.372 5.372 0 0 1-1.49.196C3.642 10.145 2 8.543 2 6.077 2 3.66 3.665 2 6.092 2z'/%3E%3C/svg%3E%0A");
  text-decoration: none;
}


/* Columns */
.wiki-content .innerCell {
  overflow-x: hidden;
}

.wiki-content .contentLayout2 {
  margin: 0 -30px;
}

.wiki-content .contentLayout2 .columnLayout .cell {
  padding-left: 30px;
  padding-right: 30px;
}

/* Handy button macro */
.aui-button.handy-button.button {
  font-weight: 400 !important;
}



.aui-datepicker-dialog .ui-datepicker .ui-datepicker-calendar>thead>tr>th:first-child, .aui-datepicker-dialog .ui-datepicker .ui-datepicker-calendar>tbody>tr>td:first-child {
  padding-left: 0;
}

.aui-datepicker-dialog .ui-datepicker .ui-datepicker-calendar>thead>tr>th:last-child, .aui-datepicker-dialog .ui-datepicker .ui-datepicker-calendar>tbody>tr>td:last-child {
  padding-right: 0;
}

.aui-datepicker-dialog .ui-datepicker .ui-datepicker-calendar>tbody>tr>td {
  text-align: left;
}

.aui-datepicker-dialog .ui-datepicker .ui-datepicker-calendar td a, .aui-datepicker-dialog .ui-datepicker .ui-datepicker-calendar td span {
  font-family: inherit;
}

.aui-datepicker-dialog .ui-datepicker .ui-datepicker-today {
  font-weight: 800;
}

.wiki-content ul.inline-task-list>li {
  background-position: 0 .4rem;
}

.wiki-content a.handy-task-adder-shower {
  opacity: .75;
  font-style: normal;
}

.wiki-content a.handy-task-adder-shower:hover,
.wiki-content a.handy-task-adder-shower:focus,
.wiki-content a.handy-task-adder-shower:active {
  opacity: 1;
}
