/* Outline-style numbering */
.TOCOutline, .toc-outline, .toc-macro span.toc-outline {
  font-feature-settings: 'pnum' 0, 'tnum' 1;
}

body, h1, #main-content {
  counter-reset: header subheader subsubheader;
}

h2::before, h3::before, h4::before {
  display: inline-block;
  color: #6B778C;
  font-weight: 800;
  padding: 0;
  position: absolute;
  margin: 0 0 0 -3.5rem;
  min-width: 2.5rem;
}

h2 {
  counter-reset: subheader;
}

h2::before {
  content: counter(header) " ";
  counter-increment: header;
}

#main-content h3 {
  counter-reset: subsubheader;
}

h3::before {
  content: counter(header) "." counter(subheader) " ";
  counter-increment: subheader;
}

h4::before {
  content: counter(header) "." counter(subheader) "." counter(subsubheader) " ";
  counter-increment: subsubheader;
  font-size: .8em;
  padding: .3em 0 0;
}
