html,
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-feature-settings: 'pnum' 1, 'kern' 1, 'liga' 1;
  font-size: 16px; }

*,
*::after,
*::after {
  box-sizing: inherit;
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", BlinkMacSystemFont, system-ui, sans-serif, "fontello", "FontAwesome"; }

div[ui-view] {
  position: relative; }

hr {
  border: 0;
  border-top: 1px solid currentColor;
  height: 0; }

.header.ct-header-color {
  background-color: #fff !important; }
  .header.ct-header-color .ct-header-text-color {
    color: #000 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit; }

p, span {
  font-size: 1em; }

.ct-points-color {
  color: #333f48 !important;
  text-transform: none !important; }

.ct-link-color {
  color: #1e69b5 !important;
  text-decoration: none !important; }
  .ct-link-color:hover, .ct-link-color:focus {
    color: #40596b !important; }
  .ct-link-color:active {
    color: #40596b !important; }

a {
  transition: all 0.15s; }
  a:active {
    transition: none; }
  a[disabled] {
    pointer-events: none; }
  a:focus {
    outline: thin dotted;
    outline-color: initial;
    outline-style: dotted;
    outline-width: thin;
    outline-offset: -1px; }


a.btn,
button,
.btn,
.btn.btn-danger,
a.btn.btn-danger,
.btn.btn-secondary,
a.btn.btn-secondary,
#social-connect-widget button.connect,
#survey .nav-btns .prev-btn,
button.btn,
.btn.btn-small,
a.btn.btn-small,
#survey .nav-btns .prev-btn,
#upload-receipt .receipt-preview label {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0px;
  color: #333;
  cursor: default;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  height: auto;
  margin: 0;
  padding: 0.625rem 1.25rem;
  text-transform: none;
  transition: all 0.15s;
  user-select: none;
  width: auto; }
  
  a.btn[disabled],
  button[disabled],
  .btn[disabled],
  .btn.btn-danger[disabled],
  a.btn.btn-danger[disabled],
  .btn.btn-secondary[disabled],
  a.btn.btn-secondary[disabled],
  #social-connect-widget button.connect[disabled],
  #survey .nav-btns .prev-btn[disabled],
  button.btn[disabled],
  .btn.btn-small[disabled],
  a.btn.btn-small[disabled],
  #survey .nav-btns .prev-btn[disabled],
  #upload-receipt .receipt-preview label[disabled] {
    pointer-events: none; }
  
  a.btn:hover,
  a.btn:focus,
  button:hover,
  button:focus,
  .btn:hover,
  .btn:focus,
  .btn.btn-danger:hover,
  .btn.btn-danger:focus,
  a.btn.btn-danger:hover,
  a.btn.btn-danger:focus,
  .btn.btn-secondary:hover,
  .btn.btn-secondary:focus,
  a.btn.btn-secondary:hover,
  a.btn.btn-secondary:focus,
  #social-connect-widget button.connect:hover,
  #social-connect-widget button.connect:focus,
  #survey .nav-btns .prev-btn:hover,
  #survey .nav-btns .prev-btn:focus,
  button.btn:hover,
  button.btn:focus,
  .btn.btn-small:hover,
  .btn.btn-small:focus,
  a.btn.btn-small:hover,
  a.btn.btn-small:focus,
  #survey .nav-btns .prev-btn:hover,
  #survey .nav-btns .prev-btn:focus,
  #upload-receipt .receipt-preview label:hover,
  #upload-receipt .receipt-preview label:focus {
    background-color: #fafafa;
    color: #333; }
  
  a.btn:focus,
  button:focus,
  .btn:focus,
  .btn.btn-danger:focus,
  a.btn.btn-danger:focus,
  .btn.btn-secondary:focus,
  a.btn.btn-secondary:focus,
  #social-connect-widget button.connect:focus,
  #survey .nav-btns .prev-btn:focus,
  button.btn:focus,
  .btn.btn-small:focus,
  a.btn.btn-small:focus,
  #survey .nav-btns .prev-btn:focus,
  #upload-receipt .receipt-preview label:focus {
    outline: thin dotted;
    outline-color: initial;
    outline-style: dotted;
    outline-width: thin;
    outline-offset: -1px; }
  
  a.btn:active,
  button:active,
  .btn:active,
  .btn.btn-danger:active,
  a.btn.btn-danger:active,
  .btn.btn-secondary:active,
  a.btn.btn-secondary:active,
  #social-connect-widget button.connect:active,
  #survey .nav-btns .prev-btn:active,
  button.btn:active,
  .btn.btn-small:active,
  a.btn.btn-small:active,
  #survey .nav-btns .prev-btn:active,
  #upload-receipt .receipt-preview label:active {
    background-color: #ddd;
    color: #000;
    transition: none; }


.ct-button,
#activity-history .btn.show-more,
#survey .nav-btns .next-btn {
  background-color: #333f48 !important;
  color: #fff !important;
  font-size: 0.875rem;
  font-weight: 500; }
  
  .ct-button:hover,
  .ct-button:focus,
  #activity-history .btn.show-more:hover,
  #activity-history .btn.show-more:focus,
  #survey .nav-btns .next-btn:hover,
  #survey .nav-btns .next-btn:focus {
    background-color: #596269 !important;
    color: #fff !important; }
  
  .ct-button:active,
  #activity-history .btn.show-more:active,
  #survey .nav-btns .next-btn:active {
    background-color: #596269 !important;
    color: #f3f3f3 !important; }

.notification {
  flex: 1 1 100%; }
  .notification.error, .notification.notification-error {
    background-color: #ff9999;
    border: 1px solid red;
    color: red; }
  .notification.notification-warning, .notification.warning {
    background-color: yellow;
    border: 1px solid #dddd00;
    color: black; }
  .notification.notification-success, .notification.success {
    background-color: #00cc55;
    border: 1px solid green;
    color: black; }
  .notification .fa,
  .notification .status {
    display: none; }


#activity-history table,
#reward-history table,
.purchase-history-table {
  font-feature-settings: 'pnum' 0, 'kern' 1, 'liga' 1; }
  
  #activity-history table tr[ng-show='rewards.length == 0'] td,
  #activity-history table tr[ng-show='orders.length == 0'] td span,
  #activity-history table span[ng-if='activity.points() < 0'],
  #reward-history table tr[ng-show='rewards.length == 0'] td,
  #reward-history table tr[ng-show='orders.length == 0'] td span,
  #reward-history table span[ng-if='activity.points() < 0'],
  .purchase-history-table tr[ng-show='rewards.length == 0'] td,
  .purchase-history-table tr[ng-show='orders.length == 0'] td span,
  .purchase-history-table span[ng-if='activity.points() < 0'] {
    color: #999 !important; }
  
  #activity-history table tbody:before,
  #reward-history table tbody:before,
  .purchase-history-table tbody:before {
    content: ''; }
  
  #activity-history table td,
  #activity-history table th,
  #reward-history table td,
  #reward-history table th,
  .purchase-history-table td,
  .purchase-history-table th {
    line-height: 1.25rem;
    padding: 0.25rem 1rem; }
  
  #activity-history table td:nth-last-child(1),
  #activity-history table th:nth-last-child(1),
  #reward-history table td:nth-last-child(1),
  #reward-history table th:nth-last-child(1),
  .purchase-history-table td:nth-last-child(1),
  .purchase-history-table th:nth-last-child(1) {
    padding-right: 0; }


input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
.account-settings .input-group input,
#check-in .search-wrapper input.venue-search,
dl.form dd input[type=email],
dl.form dd input[type=number],
dl.form dd input[type=password],
dl.form dd input[type=tel],
dl.form dd input[type=text]
,
select,
dl.form dd select,
.account-settings .input-group select,
#redeem #review dl.form.select dd select {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #c3c3c3;
  border-radius: 0px;
  font-size: 16px;
  height: 32px;
  line-height: 30px;
  margin: 0;
  transition: all 0.15s; }
  
  input[type=email]:focus,
  input[type=email]:active,
  input[type=number]:focus,
  input[type=number]:active,
  input[type=password]:focus,
  input[type=password]:active,
  input[type=tel]:focus,
  input[type=tel]:active,
  input[type=text]:focus,
  input[type=text]:active,
  .account-settings .input-group input:focus,
  .account-settings .input-group input:active,
  #check-in .search-wrapper input.venue-search:focus,
  #check-in .search-wrapper input.venue-search:active,
  dl.form dd input[type=email]:focus,
  dl.form dd input[type=email]:active,
  dl.form dd input[type=number]:focus,
  dl.form dd input[type=number]:active,
  dl.form dd input[type=password]:focus,
  dl.form dd input[type=password]:active,
  dl.form dd input[type=tel]:focus,
  dl.form dd input[type=tel]:active,
  dl.form dd input[type=text]:focus
,
  dl.form dd input[type=text]:active
,
  select:focus,
  select:active,
  dl.form dd select:focus,
  dl.form dd select:active,
  .account-settings .input-group select:focus,
  .account-settings .input-group select:active,
  #redeem #review dl.form.select dd select:focus,
  #redeem #review dl.form.select dd select:active {
    background-color: #ffffff;
    border: 1px solid #4c2a67;
    transition: none; }
  
  input[type=email]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  input[type=tel]:focus,
  input[type=text]:focus,
  .account-settings .input-group input:focus,
  #check-in .search-wrapper input.venue-search:focus,
  dl.form dd input[type=email]:focus,
  dl.form dd input[type=number]:focus,
  dl.form dd input[type=password]:focus,
  dl.form dd input[type=tel]:focus,
  dl.form dd input[type=text]:focus
,
  select:focus,
  dl.form dd select:focus,
  .account-settings .input-group select:focus,
  #redeem #review dl.form.select dd select:focus {
    outline: thin dotted;
    outline-color: initial;
    outline-style: dotted;
    outline-width: thin;
    outline-offset: -1px; }


input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
.account-settings .input-group input,
#check-in .search-wrapper input.venue-search,
dl.form dd input[type=email],
dl.form dd input[type=number],
dl.form dd input[type=password],
dl.form dd input[type=tel],
dl.form dd input[type=text] {
  color: #000;
  padding: 0.375rem; }


select,
dl.form dd select,
.account-settings .input-group select,
#redeem #review dl.form.select dd select {
  background-image: url("data:image/svg+xml,%3Csvg width='12px' height='7px' viewBox='0 0 12 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolyline id='Path-2' stroke='%23666' fill='none' stroke-width='2' points='1 1 6 5 11 1'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: right 5px top 50%;
  background-repeat: no-repeat;
  padding: 0 1.4375rem 0 0.375rem; }

ui-view {
  display: block; }

.widget .container {
  padding: 3.125rem 0rem 0rem; }

@keyframes spin-step {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html,
body {
  -ms-overflow-style: none;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
  overflow-x: hidden; }

.widget .header {
  display: none; }

.widget .container {
  padding-top: 0; }

::-webkit-scrollbar {
  display: none; }

#reward-list-v2 .rewards {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  #reward-list-v2 .rewards .reward,
  #reward-list-v2 .rewards .reward:nth-child(n) {
    border: 0;
    clear: both;
    flex: 0 1 50%;
    margin-bottom: 0.625rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0.3125rem;
    position: relative; }
    @media (min-width: 660px) {
      #reward-list-v2 .rewards .reward,
      #reward-list-v2 .rewards .reward:nth-child(n) {
        flex: 0 1 33.33%;
        margin-bottom: 1.25rem;
        padding: 0.625rem; } }
    @media (min-width: 800px) {
      #reward-list-v2 .rewards .reward,
      #reward-list-v2 .rewards .reward:nth-child(n) {
        flex: 0 1 25%; } }
    #reward-list-v2 .rewards .reward > img,
    #reward-list-v2 .rewards .reward:nth-child(n) > img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%; }
    #reward-list-v2 .rewards .reward .content,
    #reward-list-v2 .rewards .reward:nth-child(n) .content {
      padding: 0 0.625rem 0 0; }
      #reward-list-v2 .rewards .reward .content:hover p.points::after,
      #reward-list-v2 .rewards .reward:nth-child(n) .content:hover p.points::after {
        transform: translateX(3px); }
      #reward-list-v2 .rewards .reward .content a::after,
      #reward-list-v2 .rewards .reward:nth-child(n) .content a::after {
        background: transparent;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.15s; }
      #reward-list-v2 .rewards .reward .content a:focus::after,
      #reward-list-v2 .rewards .reward:nth-child(n) .content a:focus::after {
        outline: thin dotted;
        outline-color: initial;
        outline-style: dotted;
        outline-width: thin;
        outline-offset: -1px; }
      #reward-list-v2 .rewards .reward .content a:active::after,
      #reward-list-v2 .rewards .reward:nth-child(n) .content a:active::after {
        background-color: rgba(0, 0, 0, 0.15);
        transition: all 0s; }
      #reward-list-v2 .rewards .reward .content a:hover, #reward-list-v2 .rewards .reward .content a:focus,
      #reward-list-v2 .rewards .reward:nth-child(n) .content a:hover,
      #reward-list-v2 .rewards .reward:nth-child(n) .content a:focus {
        outline: none;
        text-decoration: none; }
      #reward-list-v2 .rewards .reward .content .title,
      #reward-list-v2 .rewards .reward:nth-child(n) .content .title {
        background: transparent;
        color: #333f48 !important;
        text-decoration: none !important;
        font-family: "Sentinel A", "Sentinel B", "Georgia", BlinkMacSystemFont, system-ui, serif, "fontello", "FontAwesome";
        letter-spacing: -0.0075rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.375rem;
        height: auto;
        margin: 0;
        padding: 0.625rem 0 0.375rem; }
        #reward-list-v2 .rewards .reward .content .title:hover, #reward-list-v2 .rewards .reward .content .title:focus, #reward-list-v2 .rewards .reward .content .title:active,
        #reward-list-v2 .rewards .reward:nth-child(n) .content .title:hover,
        #reward-list-v2 .rewards .reward:nth-child(n) .content .title:focus,
        #reward-list-v2 .rewards .reward:nth-child(n) .content .title:active {
          background: transparent;
          color: #40596b !important; }
        @media (min-width: 660px) {
          #reward-list-v2 .rewards .reward .content .title,
          #reward-list-v2 .rewards .reward:nth-child(n) .content .title {
            font-family: "Sentinel A", "Sentinel B", "Georgia", serif, "fontello", "FontAwesome";
            letter-spacing: -0.00937rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.75rem;
            padding: 0.75rem 0 0.625rem; } }
      #reward-list-v2 .rewards .reward .content .row,
      #reward-list-v2 .rewards .reward:nth-child(n) .content .row {
        height: auto;
        margin: 0;
        padding: 0; }
        #reward-list-v2 .rewards .reward .content .row p.points,
        #reward-list-v2 .rewards .reward:nth-child(n) .content .row p.points {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1rem;
          display: block;
          float: none;
          padding-bottom: 0;
          text-transform: none; }
          #reward-list-v2 .rewards .reward .content .row p.points::before,
          #reward-list-v2 .rewards .reward:nth-child(n) .content .row p.points::before {
            content: "Use "; }
          #reward-list-v2 .rewards .reward .content .row p.points::after,
          #reward-list-v2 .rewards .reward:nth-child(n) .content .row p.points::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='12' viewBox='0 0 6 12'%3E%3Cpolyline fill='none' stroke='%23596269' stroke-width='1.5' points='1 1 5 6 1 11 1 11'/%3E%3C/svg%3E%0A");
            display: inline-block;
            content: '';
            margin-left: 0.375rem;
            height: 12px;
            transition: transform .15s;
            width: 6px; }
        #reward-list-v2 .rewards .reward .content .row .ends,
        #reward-list-v2 .rewards .reward .content .row .quantity,
        #reward-list-v2 .rewards .reward:nth-child(n) .content .row .ends,
        #reward-list-v2 .rewards .reward:nth-child(n) .content .row .quantity {
          float: none; }
          #reward-list-v2 .rewards .reward .content .row .ends p,
          #reward-list-v2 .rewards .reward .content .row .quantity p,
          #reward-list-v2 .rewards .reward:nth-child(n) .content .row .ends p,
          #reward-list-v2 .rewards .reward:nth-child(n) .content .row .quantity p {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1rem;
            color: #515151;
            font-style: normal;
            padding-bottom: .5rem; }
        #reward-list-v2 .rewards .reward .content .row .locked p,
        #reward-list-v2 .rewards .reward:nth-child(n) .content .row .locked p {
          float: none;
          font-size: 0;
          line-height: 0; }
          #reward-list-v2 .rewards .reward .content .row .locked p i,
          #reward-list-v2 .rewards .reward:nth-child(n) .content .row .locked p i {
            background-image: url("https://d3tdkvfstzj7gy.cloudfront.net/images/sylvan/reward_lock.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: 3.125rem;
            left: 1rem;
            position: absolute;
            text-indent: -9999px;
            top: 1rem;
            width: 3.125rem; }
            #reward-list-v2 .rewards .reward .content .row .locked p i::before,
            #reward-list-v2 .rewards .reward:nth-child(n) .content .row .locked p i::before {
              display: none; }
    #reward-list-v2 .rewards .reward.reward-not-enough-points .content .row p.points.ct-points-color,
    #reward-list-v2 .rewards .reward.reward-not-enough-points:nth-child(n) .content .row p.points.ct-points-color,
    #reward-list-v2 .rewards .reward:nth-child(n).reward-not-enough-points .content .row p.points.ct-points-color,
    #reward-list-v2 .rewards .reward:nth-child(n).reward-not-enough-points:nth-child(n) .content .row p.points.ct-points-color {
      color: #8d8d8d !important; }
    #reward-list-v2 .rewards .reward.reward-not-enough-points .content .row p.points::before,
    #reward-list-v2 .rewards .reward.reward-not-enough-points:nth-child(n) .content .row p.points::before,
    #reward-list-v2 .rewards .reward:nth-child(n).reward-not-enough-points .content .row p.points::before,
    #reward-list-v2 .rewards .reward:nth-child(n).reward-not-enough-points:nth-child(n) .content .row p.points::before {
      content: ''; }
