/* Improved JIRA status lozenges */
/* Does not affect standalone lozenges. */

.jira-issue[data-hasbody="false"] .summary {
  display: none;
}

.jira-issue, .unknown-jira-issue {
  background: #efeef0;
  border: 0;
  font-size: 0;
  padding: 0;
  line-height: 0;
  white-space: nowrap;
}

.jira-issue .summary {
  white-space: normal;
}

.wiki-content .jira-issue>a, .wiki-content .single-issue-oauth.unknown-jira-issue>a, .wiki-content .lock-jira-issue>a {
  line-height: 16px;
  font-size: 13px;
  padding: 2px 6px 2px 2px;
  display: inline-block;
}

/* Colors are defined in main jira.css */
.wiki-content .jira-issue .aui-lozenge,
span.aui-lozenge-subtle.aui-lozenge-default.issue-placeholder {
  background-color: #efeef0;
  border: 0;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 3px;
  height: 20px;
  margin: 0 0 0 -3px;
  padding: 0;
  border-radius: 0 3px 3px 0;
}

/* sort of related: time styling */
.wiki-content time,
.wiki-content time.handy-date-time {
  background-image: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
}

.wiki-content time.date-past {
  color: #b1090d;
  font-weight: 500;
}
